<table class="table">
  <thead>
  <tr>
    <th scope="col">STT</th>
    <th scope="col">Tên</th>
    <td>Giá</td>
    <th scope="col">Mô tả</th>
    <th scope="col">action</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let product of products; index as i">
    <td>{{i + 1}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td>
      <a [routerLink]="['/show',product.id]">
        <button class="btn btn-info " data-bs-target="#staticBack" data-bs-toggle="modal" type="button">show</button>
      </a>
      <a [routerLink]="['/edit',product.id]">
        <button class="btn btn-info mx-3" data-bs-target="#staticBack" data-bs-toggle="modal" type="button">edit</button>
      </a>
      <a [routerLink]="['/delete',product.id]">
        <button class="btn btn-danger mx-3"> delete</button>
      </a>
    </td>
  </tr>
  </tbody>
</table>
<a [routerLink]="['/create']">
  <button class="btn btn-primary" type="button">
    Add
  </button>
  <a>

